.example-card {
    width: 350px;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.example-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

img {
    height: 200px;
    border-radius: 1em;
}

body {
    background-color: white;
}

html, body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure the elements stretch to the full height */
    width: 100%; /* Ensure the elements stretch to the full width */
}

.mainIDv {
    float: left;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
    top: 1;
}

::ng-deep app-navbar mat-toolbar {
  background-color: white !important;
}

::ng-deep app-navbar mat-toolbar a {
  color : black !important;
}


