.example-card {
    width: 350px;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

img {
    height: 200px;
}


.mainIDv {
    float: left;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
    top: 1;
}

app-navbar {
    position: fixed;
    /* Keeps navbar at the top */
    width: 100%;
    /* Stretches navbar across the viewport */
    z-index: 1000;
    /* Ensures navbar is above all other elements */
    background-color: white;
    /* Optional: set a background to ensure visibility */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: adds shadow for clarity */
}

