::ng-deep app-navbar mat-toolbar {
  position: fixed;
  background-color: white;
}

::ng-deep app-navbar mat-toolbar a {
  color : black !important;
}


body {
  padding : 3rem;
  background-color: white;
  color : black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  width: 60rem;
  font-size: larger;
}

.titleDiv {
  text-align: center;
  margin-top : -20rem;

}

.titleDiv > h1 {
  font-size: 40px;
  line-height: 1.1;
}

