
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="main">
    
    <div class="title">
      <h1>Benvenuti a Pesci Incredibili</h1>
      <div class="sub">
        <h3>Il sito web ufficiale dei pesci più incredibili del mondo</h3>
      </div>
    </div>
    
    

    <div style="height: 500px;"></div>
    
  </div>
</body>
</html>
