
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="main">
    <div class="spacer"></div>
    <div class="title">
      <h1 class="animate__animated animate__fadeInDown">Benvenuti a Pesci Incredibili</h1>
      <h3 class=" animate__animated animate__fadeInDown animate__slower">Il sito web ufficiale dei pesci più incredibili del mondo</h3>
      <button class="btnCat animate__animated animate__fadeInDown animate__delay-1s">Scopri il Catalogo</button>
    </div>
  </div>
</body>
</html>
