.title{
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 30rem;
  padding: 190px 0;
}

body{
  background-image: url("http://localhost:4200/homeBackground.jpg");
  background-size: cover; /* Cover the entire area */
  background-repeat: repeat; /* Prevent the image from repeating */
  background-position: center;
}

body{
  padding: 5px;
  height: 100vh;
}

.title > h1 {
  color: white;
  font-size: 72px;
  font-family:'Times New Roman', Times, serif;
}

.sub > h3{
  margin-top: 2rem;
  font-size: 25px;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  color: whitesmoke;
}

.main{
  
}