:host {
  /* flex-direction: column; Dispone gli elementi in colonna */
  align-items: center; /* Allinea gli elementi all'inizio */
  justify-content: center;
  margin-top: 20%;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */ /* Ensure it takes full width */
  width : 30em;
  height: 30em;
  padding : 3em;
  margin-top: 5em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.example-container {
  display: flex; /* Ensure this is a flex container */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */
}

.example-container mat-form-field {
  width: 100%; /* Assicura che ogni campo del modulo occupi l'intera larghezza */
  margin-bottom: 16px; /* Aggiunge spazio tra i campi del modulo */
}

.example-container button {
  margin: 0 auto;
}

body{
    background : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(162,0,255,1) 35%, rgba(231,0,255,1) 100%);
}

