<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height: 100%; margin: 0;">
  <button style="background-color: transparent; border: 0; color: white; margin: 10px;" routerLink="/" routerLinkActive="router-link-active"><mat-icon style="color: black;">arrow_back</mat-icon></button>
  <div class="example-container" style="margin-top: 4rem;">
    <div class="mainDiv">
      <h1 style="text-align: left; font-size: 35px; margin-bottom: 1.3em; color : black; float: left;">Login</h1>
      <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>Enter your mail</mat-label>
        <input matInput #emailInput />
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" #passwordInput />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      
      <button mat-stroked-button
              style="background-color: white; color: black; margin-top: 2em;"
              (click)="Login(emailInput.value, passwordInput.value)">
        Login
      </button>

    </div>

  </div>

</body>
</html>
