a {
    margin-left: 5px;
    background-color: transparent;
}



.imageLogo{
  width: 100px;
}


mat-toolbar{
  background-color : transparent;
  position: fixed;
  margin : 0;
  height: 5rem;
}

mat-toolbar > a {
  color : white;
  text-decoration: none;
  margin-left: 20px;
}

mat-toolbar > a:hover{
  text-decoration: underline;
}


