<mat-toolbar color="primary" class="fixed-header">
    <span>Pesci incredibili</span>
    <span class="spacer"></span>
    <a mat-flat-button color="primary" routerLink="/" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Home</a>
    <a mat-flat-button routerLink="/chisiamo" color="primary" routerLinkActive="router-link-active">Chi siamo</a>
    <a mat-flat-button routerLink="/catalogo" color="primary" routerLinkActive="router-link-active">Catalogo</a>
    <a mat-flat-button routerLink="/contatti" color="primary" routerLinkActive="router-link-active">Contatti</a>
    <a mat-flat-button routerLink="/login" color="primary" routerLinkActive="router-link-active">Login</a>
  </mat-toolbar>  
