a {
    margin-left: 5px;
    background-color: transparent;
}

.imageLogo{
  width: 100px;
}


mat-toolbar{
  background-color: transparent;
}

mat-toolbar > a {
  color : #9767ff;
  text-decoration: none;
  margin-left: 20px;
}

mat-toolbar > a:hover{
  text-decoration: underline;
}


