/* Navbar stays fixed at the top */
mat-toolbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ensures it spans the full width */
  height: 5rem; /* Navbar height */
  margin: 0;
  z-index: 1000; /* Ensures it stays above other content */
}

/* Ensure content below does not overlap */
body {
  margin: 0;
  padding-top: 5rem; /* Matches mat-toolbar height */
}

a {
  margin-left: 5px;
  background-color: transparent;
}

.imageLogo {
  width: 100px;
}

mat-toolbar > a,
.leftIcons > a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

mat-toolbar > a:hover {
  text-decoration: underline;
}

.leftIcons {
  margin-right: 1rem;
}
